<div class="card-deck container">
<div class="row row2">
  <div class="col-md-4">
  <div class="card">
  <img class="card-img-top" alt="100%x180" src= "/assets/swift.png" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
  <!--   <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-block">
      <h4 class="card-title">Swift</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">14 Variants</small>
    </div>
  </div>
  </div>
  <div class="col-md-4">
  <div class="card">
     <img class="card-img-top" alt="100%x180" src= "/assets/ertiga.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    <div class="card-block">
      <h4 class="card-title">Ertiga</h4>
      <p class="card-text">The Ertiga is the first premium MUV from Maruti Suzuki. The company has smartly made a new segment for itself with the Ertiga.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-md-4">
  <div class="card">
     <img class="card-img-top" alt="100%x180" src= "/assets/Swift-Dzire.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    <div class="card-block">
      <h4 class="card-title">Swift Dzire</h4>
      <p class="card-text">Maruti Suzuki Swift DZire has 7 Petrol cars and 6 Diesel cars. Maruti Suzuki Swift DZire comes in 6 colours.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
</div>
<div class="row row2">
  <div class="col-md-4">
  <div class="card">
     <img class="card-img-top" alt="100%x180" src= "/assets/alto.png" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    <div class="card-block">
      <h4 class="card-title">Alto K10</h4>
      <p class="card-text">Maruti Suzuki Alto K10, a Hatchback has 9 versions available in India. Alto K10 has 7 Petrol cars and 2 CNG cars. Maruti Suzuki Alto K10 comes in 6 colours.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-md-4">
  <div class="card">
     <img class="card-img-top" alt="100%x180" src= "/assets/wagonr.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    <div class="card-block">
      <h4 class="card-title">Wagon R</h4>
      <p class="card-text">Maruti Suzuki Wagon R 1.0, a Hatchback has 12 versions available in India. Wagon R 1.0 has 10 Petrol cars and 2 CNG cars. Maruti Suzuki Wagon R 1.0 comes in 7 colours.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-md-4">
  <div class="card">
     <img class="card-img-top" alt="100%x180" src= "/assets/ignis.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    <div class="card-block">
      <h4 class="card-title">Ignis</h4>
      <p class="card-text">Maruti Suzuki Ignis, a Hatchback has 11 versions available in India. Ignis has 6 Petrol cars and 5 Diesel cars. Maruti Suzuki Ignis comes in 6 colours.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
   </div>
<div class="row row2">
<div class="col-md-4">
  <div class="card">
     <img class="card-img-top" alt="100%x180" src= "/assets/breeza.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    <div class="card-block">
      <h4 class="card-title">Breeza</h4>
      <p class="card-text">Maruti Suzuki Vitara Brezza, an SUV has 6 versions available in India. Vitara Brezza has 6 Diesel cars. Maruti Suzuki Vitara Brezza comes in 9 colours.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">7 Variants</small>
    </div>
  </div>
  </div>

  <div class="col-md-4">
  <div class="card">
     <img class="card-img-top" alt="100%x180" src= "/assets/ciaz.png" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    <div class="card-block">
      <h4 class="card-title">Ciaz</h4>
      <p class="card-text">Maruti Suzuki Ciaz, a Sedan has 13 versions available in India. Ciaz has 8 Petrol cars and 5 Diesel cars. Maruti Suzuki Ciaz comes in 7 colours.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>

  <div class="col-md-4">
  <div class="card">
     <img class="card-img-top" alt="100%x180" src= "/assets/baleno.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    <div class="card-block">
      <h4 class="card-title">Baleno</h4>
      <p class="card-text">Maruti Suzuki Baleno, a Hatchback has 10 versions available in India. Baleno has 6 Petrol cars and 4 Diesel cars. Maruti Suzuki Baleno comes in 7 colours.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">10 Variants</small>
    </div>
  </div>
  </div>

</div>

 
</div>