<footer>
<div class="footer">
    <p>Websolution Bangalore copyright &copy; 2017 &nbsp; <img src='/assets/fb.png' />&nbsp;<img src='/assets/twitter.png' />&nbsp;<img src='/assets/linked-in.jpg' />&nbsp<img src='/assets/google-plus.png' /></p>
</div>
</footer>
